<div class="ui-body-a">
	<h2>Ajouter une campagne</h2>
	<div class="container-fluid">
		<div class="col-xs-12" style="margin-top:15px; margin-bottom: 15px">
			<div class="form-group">
			
		           <div class='input-group' style="margin-bottom: 10px">
		           		<span class="input-group-addon">Nom de la campagne:</span>
		                 <input type='text' class="form-control col-xs-12"/>
		           </div>
		           
		           <div class='input-group' style="margin-bottom: 10px">
		           		<span class="input-group-addon">Date de début: (jj/mm/aaaa)</span>
		                <input type='date' class="form-control col-xs-12"/>
		           </div>
		           
		           <div class='input-group' style="margin-bottom: 10px">
		           		<span class="input-group-addon">Date de fin: (jj/mm/aaaa)</span>
		                <input type='date' class="form-control col-xs-12"/>
		           </div>
		           
		           <div class='text-center' style="margin-bottom: 10px">
		           		<a class="btn btn-primary">Annuler</a>
		           		
		           		<a class="btn btn-success">Enregistrer</a>
		           </div>
		      </div>
	      </div>
	</div>
</div>